* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 10px;
  text-align: center;
}

p {
  margin: 10px;
  font-size: 25px;
}

/* Error and success messages */
.error {
  color: #dc3545;
  font-weight: bold;
  font-size: 20px;
}

.success {
  color: #0fbe17;
  font-weight: bold;
  font-size: 20px;
}

.warning {
  color: #dad608;
  font-weight: bold;
  font-size: 20px;
}
/* Error and success messages */

/* Buttons */
button {
  cursor: pointer; /* pointer on hover */
  justify-self: start; /* Aligns the button to the start of its grid cell */
  border-radius: 5px; /* rounded edges */
  padding: 10px 15px;
  margin: 5px;
  background-color: #749ad6;
}

button:hover {
  background-color: #5687d6;
}

.disabled-button:hover {
  cursor: not-allowed; /* disables cursor on hover */
  background-color: #749ad6; /* resets to base background color */
}
/* Buttons */

/* Tooltips */
.tooltip {
  display: inline;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  white-space: nowrap;
}
/* Tooltips */

/* Calendar */
.calendar-container {
  position: absolute;
  top: 0;
  left: 5px;
}

.calendar {
  position: absolute;
  top: 48px;
}
/* Calendar */

/* Help Button */
.help-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.help-content hr {
  border-bottom: 1px solid #000;
}

.help-content p {
  text-align: center;
}
/* Help Button */

/* Input fields */
.wrapper {
  position: relative;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
select {
  width: 300px;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
}

select {
  width: 325px; /* Match select box width with input box width */
  font-size: 15px;
}

.label-container {
  display: flex;
  align-items: center;
  width: 150px;
  margin-right: 10px;
}

.input-label {
  display: flex;
  align-items: center;
  margin: 8px;
}

.currency-input {
  width: 293px; /* Align input box with $ with other input boxes */
}

.forgot-password-link {
  margin-bottom: 5px;
}

.forgot-password-link a {
  position: relative;
  right: 100px;
  text-decoration: none;
  font-weight: bold;
  color: #9b8184;
}

.register-login-link {
  margin-top: 10px;
}

.register-login-link a {
  text-decoration: none;
  font-weight: bold;
  color: #9b8184;
}

.input-form button {
  width: 100%;
  border-radius: 15px;
}

.source-document-input {
  position: relative;
  margin-left: 60%;
}
/* Input fields */

/* Banner */
.banner {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #749ad6;
}

.banner button {
  padding: 5px;
  border-radius: 50px;
}

.navbar {
  list-style-type: none;
  padding-top: 25px;
  margin-right: 50px;
}

.navbar-item {
  float: left; /* turn navbar items into row */
}

.navbar-link {
  margin-left: 10px;
  padding: 10px;
  text-decoration: none; /* remove link underline and color */
  font-size: 20px;
  color: #000;
}

.navbar-link:hover,
.dropdown ul li:hover {
  background-color: #5687d6;
}

.dropdown-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  left: 10px;
  top: 30px;
  background-color: #749ad6;
  width: 200px;
  z-index: 1;
}

.dropdown ul {
  list-style-type: none;
}

.dropdown ul li {
  padding: 10px;
}

.dropdown ul a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.logo {
  height: 50px;
  margin: 10px;
}

.logo:hover {
  cursor: pointer; /* pointer on hover */
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-info span {
  font-size: 20px;
  margin-left: 10px;
}

.user-info button {
  font-size: 10px;
  padding: 5px;
}
/* Banner */

/* Dashboard */
.dashboard {
  display: flex;
  justify-content: center;
}

.dashboard-box {
  width: 30%;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
}

.dashboard-chart {
  width: 100%;
  height: 250px;
}

.good-ratio {
  background-color: #dff0d8;
}

.bad-ratio {
  background-color: #f8d7da;
}

.warning-ratio {
  background-color: #fff3cd;
}
/* Dashboard */

/* password checklist */
.valid-list,
.invalid-list {
  list-style-type: none;
  display: flex;
  margin-bottom: 8px;
}

.checklist-icon {
  padding-right: 8px;
}

.invalid-message {
  opacity: 0.5;
}
/* password checklist */

/* Database list(users/accounts) */
.database-list {
  display: grid;
  grid-template-columns: 400px auto;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.database-item {
  display: contents;
  text-align: left;
}
/* Database list(users/accounts) */

/* Modal */
.modal-background {
  position: fixed; /* Stay in place */
  text-align: center;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  margin: 50px auto;
  padding: 30px;
  width: 75%;
  max-height: 80vh;
  border-radius: 50px;
  overflow-y: scroll;
}

.modal::-webkit-scrollbar {
  visibility: hidden;
}

.closeButton {
  float: right;
  font-size: 30px;
  color: #888;
  margin: 0 15px;
}

.closeButton:hover {
  color: black;
  cursor: pointer;
}

.editDB-label {
  display: inline-block;
  text-align: left;
  width: 150px;
}

.viewDB-label {
  text-align: left;
  margin: 10px auto;
}

.viewDB-label label{
  display: inline-block;
  width: 200px;
}

.viewDB-label span,
.viewDB-label label {
  font-size: 20px;
}
/* Modal */

/* Chart of Accounts */
.viewonlyaccount-div,
.accounts-table th,
.accounts-table td {
  text-align: center; /* Center Text */
}

.accounts-table {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.accounts-table table {
  width: 80%;
  border-collapse: collapse;
  border: 2px solid black;
}

.accounts-table table td,
.accounts-table table th {
    padding: 15px;
}

.clickableAccount:hover {
    font-weight: bold;
    cursor: pointer;
}
/* Chart of Accounts */

/* Journalizing */
.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-entry {
  margin-left: 20%; /* Indent credit entries */
}

.debit-entry {
  margin-right: 20%;
}

.addtransaction-button {
  font-size: 12px;
  margin: 15px;
}

.removetransaction-button {
  /* Makes button a circle */
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;

  /* Color and center the + and - buttons*/
  background-color: #dc3545; /* make - button red */
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 0; /* center - */
}
/* Journalizing */

/* Journal Entries */
.entries-table {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.entries-table table,
.entries-table th,
.entries-table td {
  width: 40%;
  border-collapse: collapse;
  border: 1px solid;
  padding: 8px;
  text-align: center;
}

.entry td {
  min-width: 140px;
}
/* Journal Entries */

/* Event Log */
.event-log-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.event-log-table th,
.event-log-table td {
  border: 1px solid black;
  padding: 8px;
}

.event-log-table th {
  background-color: #e0e0e0ce;
}

.event-log-table tr:nth-child(even) {
  background-color: #e0e0e0ce;
}
/* Event Log */

/* Ledgers */
.accountledger-table {
  display: flex;
  justify-content: center;
}

.accountledger-table table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
  margin: 20px 0;
}

.accountledger-table th {
  border-bottom: 2px solid #ddd;
  padding: 10px;
}

.accountledger-table td {
  padding: 10px;
  text-align: center;
}

.post-ref-link {
  cursor: pointer;
  font-weight: bold;
}
/* Ledgers */

/* Statement Tables (Balance Sheet, Trial Balance, Income Statement) */
.statement-table {
  width: 70%;
  max-width: 700px; 
  margin: 50px auto; 
  border-collapse: collapse; 
  background-color: #f0e6e68e;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2); 
}

.statement-table th {
  border-bottom: 2px solid black;
  font-size: 20px;
}

.statement-table th, td {
  text-align: left; 
  padding-left: 15px;
  padding: 12px;
}

.statement-table td:last-child,
.statement-table th:last-child {
    text-align: center;
}

.statement-table td + td, .statement-table th + th {
  border-left: 2px solid #000;
}

.statement-total td {
  font-weight: bold;
  color: #423b3b;
  border-top: 1px solid black; 
}

.statement-category {
  font-weight: bold;
  font-size: 20px;
  border-top: 2px solid black;
}
/* Statement Tables (Balance Sheet, Trial Balance, Income Statement) */